In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
data = Series(['one','two',np.nan,'four'])
data

0     one
1     two
2     NaN
3    four
dtype: object

In [3]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [4]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [5]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [7]:
dframe = DataFrame([[1,2,4],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])
dframe

     0    1    2
0  1.0  2.0  4.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [8]:
clean_dframe = dframe.dropna()

In [10]:
clean_dframe
#deletes entire rows with NaN

     0    1    2
0  1.0  2.0  4.0

In [11]:
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  4.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [12]:
dframe.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [13]:
npn = np.nan

dframe2 = DataFrame([[1,2,3,npn],[2,npn,5,6],[npn,7,npn,9],[1,npn,npn,npn]])
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [15]:
dframe2.dropna(thresh=2)
#drops all rows without a minimum of two data points (non NaN)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [17]:
dframe2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [18]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [19]:
dframe2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [20]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [21]:
dframe2.fillna({0:0,1:1,2:2,3:3})

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0
3  1.0  1.0  2.0  3.0

In [ ]:
#dframe2 = dframe2.fillna() -- this would change the DataFrame we are working with OR the following
dframe2.