In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index= ['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [8]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

In [9]:
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [10]:
ranger = range(15)

In [11]:
ranger

range(0, 15)

In [12]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [13]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

In [14]:
dframe

       col1      col2      col3      col4      col5
A -1.319950 -1.595033 -1.199716 -0.746503 -1.457827
B  0.351594 -0.145751 -1.078036  1.107946 -1.221175
D  1.006409  0.442903  0.343299  1.001419 -0.583342
E -0.478897  1.247133 -0.116175  0.159297  0.211066
F -0.887414 -0.534966 -0.868729  0.019998 -1.315356

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [16]:
dframe2

       col1      col2      col3      col4      col5
A -1.319950 -1.595033 -1.199716 -0.746503 -1.457827
B  0.351594 -0.145751 -1.078036  1.107946 -1.221175
C       NaN       NaN       NaN       NaN       NaN
D  1.006409  0.442903  0.343299  1.001419 -0.583342
E -0.478897  1.247133 -0.116175  0.159297  0.211066
F -0.887414 -0.534966 -0.868729  0.019998 -1.315356

In [17]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [18]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.319950 -1.595033 -1.199716 -0.746503 -1.457827   NaN
B  0.351594 -0.145751 -1.078036  1.107946 -1.221175   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.006409  0.442903  0.343299  1.001419 -0.583342   NaN
E -0.478897  1.247133 -0.116175  0.159297  0.211066   NaN
F -0.887414 -0.534966 -0.868729  0.019998 -1.315356   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A -1.319950 -1.595033 -1.199716 -0.746503 -1.457827
B  0.351594 -0.145751 -1.078036  1.107946 -1.221175
D  1.006409  0.442903  0.343299  1.001419 -0.583342
E -0.478897  1.247133 -0.116175  0.159297  0.211066
F -0.887414 -0.534966 -0.868729  0.019998 -1.315356

In [20]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -1.319950 -1.595033 -1.199716 -0.746503 -1.457827   NaN
B  0.351594 -0.145751 -1.078036  1.107946 -1.221175   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  1.006409  0.442903  0.343299  1.001419 -0.583342   NaN
E -0.478897  1.247133 -0.116175  0.159297  0.211066   NaN
F -0.887414 -0.534966 -0.868729  0.019998 -1.315356   NaN