In [1]:
import numpy as np

In [2]:
[np.nan]*12

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [3]:
length = 5
arr1 = np.array([np.nan]*length*length).reshape((length,length))

In [4]:
arr1

array([[ nan,  nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan,  nan],
       [ nan,  nan,  nan,  nan,  nan]])

In [5]:
x = (1,2)

In [6]:
x

(1, 2)

In [7]:
x[0]

1

In [10]:
g = sorted([i for i in range(4)]*6)

In [11]:
g

[0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3]

In [19]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

steps = 5
data = DataFrame(np.zeros([steps,6*4],dtype=np.int64),
                     columns=[sorted([i for i in range(4)]*6),
                              ['Population','Susceptible','Immune','Recovered','Infected','Dead']*4])
data

for j in range(steps):
        for i in range(4):
            #make adjPop changes based on tSchedule
            data.loc[j,i].Population = j*i+1
            data.loc[j,i].Susceptible =j*i+2
            data.loc[j,i].Immune = j*i+3
            data.loc[j,i].Recovered = j*i+4
            data.loc[j,i].Infected = j*i+5
            data.loc[j,i].Dead= j*i+6
data

           0                                                     1  \
  Population Susceptible Immune Recovered Infected Dead Population
0          1           2      3         4        5    6          1
1          1           2      3         4        5    6          2
2          1           2      3         4        5    6          3
3          1           2      3         4        5    6          4
4          1           2      3         4        5    6          5

                               ...       2                                  3  \
  Susceptible Immune Recovered ...  Immune Recovered Infected Dead Population
0           2      3         4 ...       3         4        5    6          1
1           3      4         5 ...       5         6        7    8          4
2           4      5         6 ...       7         8        9   10          7
3           5      6         7 ...       9        10       11   12         10
4           6      7         8 ...      11        12       13   14         13


  Susceptible Immune Recovered Infected Dead
0           2      3         4        5    6
1           5      6         7        8    9
2           8      9        10       11   12
3          11     12        13       14   15
4          14     15        16       17   18

[5 rows x 24 columns]

In [20]:
data[2]

   Population  Susceptible  Immune  Recovered  Infected  Dead
0           1            2       3          4         5     6
1           3            4       5          6         7     8
2           5            6       7          8         9    10
3           7            8       9         10        11    12
4           9           10      11         12        13    14

In [32]:
data[2].Population[0] = 22

/Users/kennypotts/anaconda/envs/python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
data

           0                                                     1  \
  Population Susceptible Immune Recovered Infected Dead Population
0          1           2      3         4        5    6          1
1          1           2      3         4        5    6          2
2          1           2      3         4        5    6          3
3          1           2      3         4        5    6          4
4          1           2      3         4        5    6          5

                               ...       2                                  3  \
  Susceptible Immune Recovered ...  Immune Recovered Infected Dead Population
0           2      3         4 ...       3         4        5    6          1
1           3      4         5 ...       5         6        7    8          4
2           4      5         6 ...       7         8        9   10         48
3           5      6         7 ...       9        10       11   12         10
4           6      7         8 ...      11        12       13   14         13


  Susceptible Immune Recovered Infected Dead
0           2      3         4        5    6
1           5      6         7        8    9
2           8      9        10       11   12
3          11     12        13       14   15
4          14     15        16       17   18

[5 rows x 24 columns]

In [1]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [52]:
d5 = DataFrame(np.arange(12).reshape((6,2)), columns=['one','two'])

In [53]:
d5.one[4]

8

In [54]:
d52 = DataFrame(d5,columns=['one','two','three']).copy()

In [55]:
d5

   one  two
0    0    1
1    2    3
2    4    5
3    6    7
4    8    9
5   10   11

In [56]:
d52

   one  two  three
0    0    1    NaN
1    2    3    NaN
2    4    5    NaN
3    6    7    NaN
4    8    9    NaN
5   10   11    NaN

In [57]:
d52.three.iloc[4] = 6

/Users/kennypotts/anaconda/envs/python3/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [58]:
d52

   one  two  three
0    0    1    NaN
1    2    3    NaN
2    4    5    NaN
3    6    7    NaN
4    8    9    6.0
5   10   11    NaN

In [62]:
d52.three.mean()

6.0

In [28]:
d52.three.fillna(52,inplace=True)

In [29]:
d52

   one  two  three
0    0    1   52.0
1    2    3   52.0
2    4    5   52.0
3    6    7   52.0
4    8    9    6.0
5   10   11   52.0

In [41]:
not bool(int('0'))

True

In [42]:
not 0

True

In [44]:
if int('1'):
    print("wazu")
else:
    print("no wazu")

wazu

In [47]:
int(not int('1'))

0

In [48]:
Wr,Wg,WR,Wc,Wp = [0.1,0.2,0.2,0.3,0.2]

In [49]:
Wr

0.1

In [50]:
WR

0.2

In [51]:
Wc

0.3

In [63]:
int(" 1")

1